$colors: (
  backgroundLight: #fff,
  backgroundDark: #edf0f5,
  textColor: #191d33,
  textLight: #afb1b9,
  contentDark: #05a38b,
  //theme colors
  regular: #bec2ca,
  info: #5968e3,
  warn: #c4af78,
  success: #4fb0bc,
  danger: #bf6d5f,
);
